@media handheld {

	.selector-01 {
		padding: 0;
		margin: 0;
		}
	.selector-02 {
		padding: 0;
		margin: 0;
		}
	.selector-03 {
		padding: 0;
		margin: 0;
		}
}
	
img {
	display:none;
	}
.checkboxes {
	display:none;
	}
body {
	font:12px/1.4em Verdana, sans-serif;
	background-color: #A8A8A8;
	}
a {
	text-decoration: none;
	color: inherit;
	}
div#article{
	width: 90%;
	border: none;
	max-height: 200px;
	overflow: hidden;
	}
	